@charset "utf-8";

/*

    Final Exam Project

    Author: Cora Colwell
    Date: 6/7/2021

    Filename: tf_finalExam.css

*/

/* HTML and Body Styles */

html {
    font-family: Verdana, Tacoma, Helvetica, sans-serif;
    font-size: 16em;
    color: black;
    width: 85%;
    background-color: darkorchid;
}
   